pi.shivanshs9.me {
	tls /var/lib/caddy/ss9.cert.pem /var/lib/caddy/ss9.key.pem
	#	tls /home/pi/thefaker.cert /home/pi/thefaker.priv.pem
	reverse_proxy 127.0.0.1:2342
	log {
		output file /var/log/caddy/access.log {
			roll_size 256M
			roll_keep 1
			roll_keep_for 720h
		}
	}
}

http://thefaker {
	reverse_proxy 127.0.0.1:2342
}
#ehy
